/* The global button style since the default HTML ones are ugly */
.isaac-button {
	margin-top: 1em;
	background-color: skyblue;
	border: 1px solid black;
	padding: .3em;
	border-radius: 5px;
}

.isaac-button:hover {
	background-color: #87c4dc;
}

/* Sidebar */
#navigation {
	height: calc(100vh - 5em);
	background-color: skyblue;
	border-right: 1px solid black;
	box-shadow: 10px 5px 10px grey;
	margin-top: 3em;
	z-index: 3;
	overflow-y: scroll;
	position: fixed;
	padding: 1em;
	padding-bottom: 10em;
	display: none;
	flex-direction: column;
}

/* These basically only exist for the sliding effect, see the animations down bottom */
#navigation.open {
	animation-timing-function: linear;
	animation-name: rollout;
	animation-duration: .2s;
	white-space: nowrap;
}

#navigation.close {
	animation-timing-function: linear;
	animation-name: rollin;
	animation-duration: .2s;
	white-space: nowrap;
}

/* I had a weird bug where it couldn't scroll all the way down, so I just pushed the content up lol */
#pools-wrapper {
	margin-bottom: 3em;
}

#quality-label {
	font-weight: bold;
}

#navigation label {
	display: inline;
}

#sourcecode_link {
	margin-bottom: 3em;
}

/* Animations */
@keyframes rollout {
	from {
		max-width: 0;
		padding-right: 0;
		padding-left: 0;
	}
	to {
		max-width: 50%;
		padding-right: 1em;
		padding-left: 1em;
	}
}

@keyframes rollin {
	from {
		padding-right: 1em;
		padding-left: 1em;
		max-width: 50%;
	}
	to {
		max-width: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

