/* HTML tags */
html, body {
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center; /* May move this to a class later */
}

#main-content {
	display: flex;
}

/* Sidebar */
#navigation {
	display: flex;
	flex-direction: column;
}

#navigation label {
	display: inline;
}

/* Each item's parent div */
.item-container {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 2%;
	width: 13%;
	height: 30vh;
	overflow: hidden;
	padding: .5em;
	margin: auto;
	margin-bottom: 1em;
}

.item-title {
	text-align: center;
	font-weight: bold;
}

.item-quality {
	text-align: center;
}

.item-pickup {
	text-align: center;
	font-style: italic;
}

/* Popup */
#popup.active {
	width: 100%;
	background-color: rgba(0, 0, 0, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

#popup-body.active {
	visibility: inherit;
	height: fit-content;
	width: 25%;
	background-color: white;
	border: .25em solid lightblue;
	border-radius: 2%;
	padding: 1.5em;
	word-wrap: normal;
	position: fixed;
	top: 20%;
}

.popup-title {
	text-align: center;
	font-weight: bold;
}

.popup-pickup {
	text-align: center;
	font-style: italic;
}

.item-desc {
	overflow-y: hidden;
}

/* Item sections */
#item-view {
	width: 100%;
	margin-top: 3em;
}

#items {
	display: flex;
	flex-wrap: wrap;
}

#trinkets {
	display: flex;
	flex-wrap: wrap;
}

/* TODO: Possible consolodate these */
#challenges {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50%;
}


/* Top bar */
#topbar {
	height: fit-content;
	width: 100%;
	display: flex;
	background-color: skyblue;
	box-shadow: 0px 2px 10px grey;
	position: fixed;
}

#topbar h3 {
	margin: auto;
}

#hamburger-toggle {
	height: 50px;
	width: 50px;
}

#hamburger-toggle span {
	font-size: 3em;
	align: center;
	user-select: none;
}

/* Navigation */
#navigation {
	background-color: skyblue;
	border-right: 1px solid black;
	box-shadow: 10px 0px 10px grey;
	margin-top: 3em;
	z-index: 3;
}

/* Mobile */
@media (min-width: 300px) and (max-width: 500px) {
	.item-container {
		width: 25%;
	}

	#popup-body.active {
		width: 80%;
		height: 40%;
	}

	#navigation {
		display: none;
		position: absolute;
		animation-name: rollout;
		animation-duration: .5s;
		white-space: nowrap;
	}
}

/* Animations */
@keyframes rollout {
	from {max-width: 0;}
	to {max-width: 50%;}
}

@keyframes rollin {
	to {max-width: 0;}
	from {max-width: 50%;}
}

