
html, body {
	margin: 0;
	padding: 0;
}

/* Each item's parent div */
.item-container {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 2%;
	width: 13%;
	height: 30vh;
	overflow: hidden;
	padding: .5em;
	margin: auto;
	margin-bottom: 1em;
}

.item-title {
	text-align: center;
	font-weight: bold;
}

.item-quality {
	text-align: center;
}

.item-pickup {
	text-align: center;
	font-style: italic;
}

#popup.active {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .9);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

#popup-body.active {
	visibility: inherit;
	height: 50%;
	width: 25%;
	background-color: white;
	border: .25em solid lightblue;
	border-radius: 2%;
	padding: 1.5em;
	word-wrap: normal;
}

.popup-title {
	text-align: center;
	font-weight: bold;
}

.popup-pickup {
	text-align: center;
	font-style: italic;
}

.item-desc {
	overflow-y: hidden;
}

#items {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20%;
}

@media (min-width: 300px) and (max-width: 500px) {
	.item-container {
		width: 25%;
	}

	#popup-body.active {
		width: 80%;
		height: 40%;
	}
}
